 .u-section-1 {
  background-image: url("images/2022-01-20_09.45.42.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1037px;
}

.u-section-1 .u-product-1 {
  min-height: 889px;
  width: 887px;
  margin: 50px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 0;
}

.u-section-1 .u-image-1 {
  height: 486px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 616px;
  min-height: 334px;
  background-image: none;
  margin: 8px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-product-price-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 10px 137px 10px 136px;
}

.u-section-1 .u-text-3 {
  font-family: Poppins;
  margin: 23px auto 48px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-product-1 {
    height: auto;
    width: 731px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-1 .u-product-1 {
    min-height: 862px;
    width: 697px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 26px;
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-1 .u-product-1 {
    min-height: 681px;
    width: 488px;
    margin-top: 28px;
    margin-left: 26px;
  }

  .u-section-1 .u-image-1 {
    height: 295px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-1 .u-product-1 {
    min-height: 591px;
    width: 304px;
    margin-top: 10px;
    margin-left: 18px;
  }

  .u-section-1 .u-image-1 {
    height: 194px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 62px;
    padding-bottom: 11px;
    padding-left: 62px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
    margin-bottom: 38px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}